.container{
    background-color: whitesmoke;
}

.loginWrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftContainer{
    display: flex;
    flex-direction: column;
    flex: 6;
    align-items: left;
    padding-left: 150px;
}

.titleSocial{
    margin-bottom: 50px;
    font-size: 42px;
    
    font-weight: bold;
    color: turquoise;
}

.descriptionSocial{
    font-size: 22px;
}

.rightContainer{
    padding: 10px;
    
    height: 300px; 
    flex: 6;

}
.loginContainer{ 
    padding: 10px;
    margin-left: 70px;
    
    margin-top: -70px;
    width: 330px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.6);
   
}

.inputField{
    border-style: solid;
    border-color: black;
    border-width: 1px; 
    margin: 10px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px; 
    outline: none;
    padding-left: 20px;
}

.inputField:focus{
    border-style: solid;
    border-color: rgb(8, 41, 83);
    border-width: 1px;
    margin: 10px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;  
    padding-left: 20px;
}


.inputButton{
    height: 40px;
    border-radius: 6px;
    margin: 10px;
    border: none;
    color: white;
    background-color: rgb(8, 52, 134);
    font-size: 18px;
    text-align: center;
    justify-content: center;
    cursor: pointer;

}

.inputButton1{
    height: 40px;
    border-radius: 6px;
    margin: 10px;
    border: none;
    color: white;
    background-color: rgb(24, 148, 20);
    font-size: 18px;
    text-align: center;
    justify-content: center;
    cursor: pointer;

}

.forgotPass{
    text-align: center;
    margin: 10px;
    color: blue;
    font-weight: bold;

}

.inputButton21{
    height: 40px;
    border-radius: 6px;
    margin: 10px;
    border: none;
    color: white;
    background-color: rgb(24, 148, 20);
    font-size: 18px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    width: 95%;
}